<div class="Modal_bg stSettings" id="storageSettings" [style.display]="(IsVisible)?'block':'none'">
  <div class="Modal_main_conten_box" id="storageSettingsBox">
    <div class="menu">
      <div class="menuItemBox">
        <span>Settings storage</span>
        <div (click)="selectMenuItem(0)" [style.background-color]="(menuTemplateArr[0])?selectColor:''" class="item">
          <span>Main</span>
        </div>
        <div (click)="selectMenuItem(1)" [style.background-color]="(menuTemplateArr[1])?selectColor:''" class="item">
          <span>Permissions templates</span>
        </div>
        <div (click)="selectMenuItem(2)" [style.background-color]="(menuTemplateArr[2])?selectColor:''" class="item">
          <span>Join links</span>
        </div>
        <div (click)="selectMenuItem(3)" [style.background-color]="(menuTemplateArr[3])?selectColor:''" class="item">
          <span>Bans</span>
        </div>
        <div (click)="selectMenuItem(4)" [style.background-color]="(menuTemplateArr[4])?selectColor:''" class="item">
          <span>Log</span>
        </div>
      </div>
    </div>
    <div class="content">
      <span class="Modal_close stSettings" onclick="$('#storageSettings').hide()">X</span>
      <div [style.display]="(menuTemplateArr[0])?'block':'none'" class="menuTemplate" style="display: block;">
        <div class="main">
          <div class="ava">
            <button>
              <img [src]="getSelectChat().Storage.TitleImg">
            </button>
          </div>
          <div class="content">
            <div>
              <span>Name:</span>
              <input type="text" [value]="getSelectChat().Storage.TitleName">
            </div>
            <div>
              <app-switch (onChanged)="setPrivate($event)"
                          [Status]="getSelectChat().Storage.IsPrivate"
                          [valueName]="'IsPrivate'" [Lable]="'Private:'">
              </app-switch>
            </div>
            <div>
              <span>Universal name</span>
              <input type="text" [value]="getSelectChat().Storage.UniversalName">
            </div>
          </div>
        </div>
      </div>
      <div [style.display]="(menuTemplateArr[1])?'block':'none'" class="menuTemplate">
        <div class="PermissionsTemplates">
          <div class="list">
            <div class="item" *ngFor="let obj of getSelectChat().PermissionsTemplateList;let i = index" (click)="selectPermissionsTemplateItem(i)" [style.background-color]="(obj.IsSelected)?selectColor:''">
              <span>{{obj.Template.Name}}</span>
            </div>
          </div>
          <div class="viewBox">
            <div>
              <label>Name</label>
              <input type="text" [(ngModel)]="getSelectPermissionsTemplateItem().Template.Name">
            </div>
            <div>
              <h3>Roles</h3>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsDeleteRoles"
                            [valueName]="'IsDeleteRoles'" [Lable]="'Delete permissions templates:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsCreateRoles"
                            [valueName]="'IsCreateRoles'" [Lable]="'Create permissions templates:'">
                </app-switch>
              </div>
            </div>
            <div>
              <h3>Users</h3>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsMuteUser"
                            [valueName]="'IsMuteUser'" [Lable]="'Mute user:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsKickUser"
                            [valueName]="'IsKickUser'" [Lable]="'Kick user:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsBanUser"
                            [valueName]="'IsBanUser'" [Lable]="'Ban user:'">
                </app-switch>
              </div>
            </div>
            <div>
              <h3>Messages</h3>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsSendMessage"
                            [valueName]="'IsSendMessage'" [Lable]="'Send message:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsSendFiles"
                            [valueName]="'IsSendFiles'" [Lable]="'Send file:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsDeleteMessages"
                            [valueName]="'IsDeleteMessages'" [Lable]="'Delete message:'">
                </app-switch>
              </div>
            </div>
            <div>
              <h3>Storage</h3>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsRenameStorage"
                            [valueName]="'IsRenameStorage'" [Lable]="'Rename storage:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsEditTitleImage"
                            [valueName]="'IsEditTitleImage'" [Lable]="'Edit title image:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsGenerateJoinURL"
                            [valueName]="'IsGenerateJoinURL'" [Lable]="'Create new join link:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsCopyJoinURL"
                            [valueName]="'IsCopyJoinURL'" [Lable]="'Copy join link:'">
                </app-switch>
              </div>
              <div>
                <app-switch (onChanged)="setPermissionParam($event)"
                            [Status]="getSelectPermissionsTemplateItem().Template.IsReadLog"
                            [valueName]="'IsReadLog'" [Lable]="'Read log:'">
                </app-switch>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [style.display]="(menuTemplateArr[2])?'block':'none'" class="menuTemplate">
        <h1>Join links</h1>
        <div class="JoinLinks">
          <div class="list">
            <div class="item" *ngFor="let obj of getSelectChat().JoinLinks">
              <div class="user">
                <div class="avatar">
                  <img [src]="obj.UserCreator.ImgUrl">
                </div>
                <div class="name">
                  <span><a href="#">{{obj.UserCreator.UserName}}</a></span>
                </div>
              </div>
              <div class="link">
                <span>{{obj.URL}}</span>
              </div>
              <div class="time">
                <span>{{obj.CreateDate}}</span>
              </div>
              <div class="settings">
                <button title="Delete" (click)="obj.delete()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [style.display]="(menuTemplateArr[3])?'block':'none'" class="menuTemplate">
        <h1>Bans</h1>
        <div class="Bans">
          <div class="list">
            <div class="item" *ngFor="let obj of getSelectChat().BanList">
              <div class="user">
                <div class="avatar">
                  <img [src]="obj.User.ImgUrl">
                </div>
                <div class="name">
                  <span><a href="#">{{obj.User.UserName}}</a></span>
                </div>
              </div>
              <div class="reason">
                <span>{{obj.Reason}}</span>
              </div>
              <div class="time">
                <div class="start">
                  <span>{{obj.FormatDate(obj.StartDate)}}</span>
                </div>
                <div class="end">
                  <span>{{obj.FormatDate(obj.EndDate)}}</span>
                </div>
                <div class="duration">
                  <span>{{obj.Duration()}}</span>
                </div>
              </div>
              <div class="settings">
                <button>Unban</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [style.display]="(menuTemplateArr[4])?'block':'none'" class="menuTemplate">
        <h1>Log</h1>
        <div class="Log">
          <div class="list">
            <div class="item" *ngFor="let obj of getSelectChat().LogList">
              <div class="date">
                <span>{{obj.FormatDate(obj.CareateDate)}}</span>
              </div>
              <div class="user">
                <div class="avatar">
                  <img [src]="obj.User.ImgUrl">
                </div>
                <div class="name">
                  <span><a href="#">{{obj.User.UserName}}</a></span>
                </div>
              </div>
              <div class="ection">
                <span>{{obj.Content}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
