<div id="TitleBox" [style.display]="IsVisible?'block':'none'">
  <div id="TitleInfoBox">
    <div>
      <span class="StorageTitleName">{{getHubSelectChat().Storage.TitleName}}</span>
    </div>
    <div>
      <span class="StorageStatus">{{getHubSelectChat().Storage.Status}}</span>
    </div>
  </div>
  <div>
  </div>
</div>
<div id="MessagesBox" [style.display]="IsVisible?'block':'none'">
  <div class="messageItem message" *ngFor="let obj of getHubSelectChat().MessageList" id="{{obj.Id}}">
    <div class="messageItem_message_box">
      <div class="messageItem_top_panel">
        <div>
          <span class="messageItem_senderName" [innerHTML]="obj.Sender.UserName"></span>
        </div>
        <div>
          <span class="messageItem_sendDate" [innerHTML]="obj.SendDate"></span>
        </div>
      </div>
      <div class="messageItem_content" [innerHTML]="obj.getHtmlContent()">
      </div>
    </div>
  </div>
</div>
<div id="SendBox" [style.display]="IsVisible?'block':'none'">
  <div id="SendBoxContent">
    <form name="sendData">
      <div id="BoxSendTextMessage">
        <textarea rows="1" type="text" name="textContent" [(ngModel)]="TextContent"></textarea>
      </div>
      <div id="BoxSendFilesMessage">
        <button type="button" name="selectFiles" id="buttonSelectFiles">
          <img src="assets/imgs/select-file-24.png">
        </button>
        <input type="file" multiple id="input-SelectFiles" [value]="SelectFile">
      </div>
      <div id="BoxSendButton">
        <button type="button" name="send" (click)="sendMessage()">
          <img src="assets/imgs/message-send-24.png">
        </button>
      </div>
    </form>
  </div>
</div>
